@import '../../../assets/scss/variables';

.input {
  margin-top: 10px;
  width: 100%;

  input {
    width: 100%;

    &:hover {
      border-color: $denim;
    }
  
    &:focus {
      border-color: $denim;
    }

    &.error {
      border-color: $salmon;
    }
  }
}

.error {
  font-size: 12px;
  color: $salmon;
  margin-top: 5px;
}