@import '../../../assets/scss/variables';

.input {
  margin-top: 10px;
  width: 100%;

  input {
    width: 100%;

    &:hover {
      border-color: $denim;
    }
  
    &:focus {
      border-color: $denim;
    }
  }
}