.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-height: 300px;
}

.formTitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.gotoSignupText {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}