@import '../../assets/scss/variables';

.formWrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 400px;
}

.formTitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.gotoSignupText {
  margin: 20px 0;
  width: 100%;
  text-align: right;

  a {
    color: $pizaz;
    font-weight: bold;
  }
}

.signInText {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: $scorpion;
}